@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




/* anche quando Tailwind attiva la classe dark */
.dark body {
  background: url("/background.gif") repeat center top;
  background-size: auto 33.33%;
  background-attachment: scroll; /* ✅ compatibile iOS */
  color: #fff;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

.dark body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  z-index: -1;
}
.dark > * {
  position: relative;
  z-index: 1;
}