@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




/* anche quando Tailwind attiva la classe dark */
.dark body {
  background: url("background.gif") repeat center top fixed;
  background-size: auto 33.33%;
  position: relative;
  z-index: 0;
  color: #fff;
}

.dark body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

