@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




/* Background per modalità light (default) */
body {
  background-color: #f7f7f7;
  font-family: 'font';
  src: url('/fonts/font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

/* Video background solo in dark mode */
.dark .dark-bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

/* Background per modalità dark */
.dark body {
  background: url("/background.gif") repeat center top;
  background-size: auto contain;
  background-attachment: scroll;
  /* ✅ compatibile iOS */
  color: #fff;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

/* testi leggibili */
.dark body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  z-index: -1;
}

.dark>* {
  position: relative;
  z-index: 1;
}